name: Test
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - npm install -g eshost-cli esvu
      - esvu --engines
      - eshost --configure-esvu
      - eshost -e "Date.parse('-000000-01-01T00:00:00.000Z')"
