name: Test
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm
      - run: npm install -g eshost-cli esvu
      - run: esvu --engines
      - run: eshost --configure-esvu
      - run: eshost -e "Date.parse('-000000-01-01T00:00:00.000Z')"
