name: Test
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install -g eshost-cli esvu
      - run: esvu --engines=all
      - run: eshost --configure-esvu
      - run: cat $HOME/.eshost-config.json
      - run: echo "/^\\p{White_Space}+$/u.test('\\x20\\xA0')"
      - run: eshost -se "/^\\p{White_Space}+$/u.test('\\x20\\xA0')"
